{% extends 'base.jinja' %}

{% block content %}
<div class="container mt-5">
    {% if role in ['ADMIN', 'ACADEMICS', 'STUDENT', 'ADMINISTRATIVE'] and not user.is_muted%}
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>Write an Article</h2>
            <form method="post" action="{{ url_for('submit_article') }}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="anonymous" name="anonymous">
                    <label class="form-check-label" for="anonymous">
                        Post anonymously
                    </label>
                </div>
                <br>                
                <button type="submit" class="btn btn-primary">Post Article</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h2>Articles</h2>
            {% for article in articles %}
            <div class="card mb-3">
                <div class="card-header">
                    {% if (role in ['ADMIN', 'ACADEMICS', 'ADMINISTRATIVE'] or (role == 'STUDENT' and article.author.username == session['username'])) and not user.is_muted %}
                    <!-- Delete button with icon -->
                    <form class="d-inline float-right ml-2" method="post" action="{{ url_for('delete_article', article_id=article.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    {% endif %}
                    <h3><strong>{{ article.title }}</strong></h3>
                    


                    
                </div>
                <div class="card-body">
                    <p class="card-text" style="white-space: pre-line;">{{ article.content }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if article.anonymous %}
                            Written by Anonymous on {{ article.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                            {% else %}
                            Written by {{ article.author.username }} ({{ article.author.role.name }}) on {{ article.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                            {% endif %}
                        </small>
                    </p>
                    
                    <!-- Edit button with icon -->
                    {% if (role in ['ADMIN', 'ACADEMICS', 'ADMINISTRATIVE'] or (role == 'STUDENT' and article.author.username == session['username'])) and not user.is_muted%}
                    <button class="btn btn-warning btn-sm float-right" 
                            onclick="showEditArticleForm('{{ article.id }}')" 
                            data-title="{{ article.title|replace('"', '&quot;')|replace("'", "&#39;")|replace('\n', '\\n')|replace('\r', '') }}" 
                            data-content="{{ article.content|replace('"', '&quot;')|replace("'", "&#39;")|replace('\n', '\\n')|replace('\r', '') }}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    {% endif %}

                    <br>
                    <br>
    
                    <div>
                        <h5>
                            <a href="#commentsCollapse-{{ article.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="commentsCollapse-{{ article.id }}">
                                Comments <span class="collapse-arrow float-right">&#9660;</span>
                            </a>
                        </h5>
                        <div id="commentsCollapse-{{ article.id }}" class="collapse">
                            {% if not user.is_muted %}
                            <form method="post" action="{{ url_for('submit_comment', article_id=article.id) }}">
                                <div class="form-group">
                                    <label for="comment">Add a comment</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="2" required></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="anonymousComment" name="anonymous">
                                    <label class="form-check-label" for="anonymousComment">
                                        Comment anonymously
                                    </label>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary btn-sm">Post Comment</button>
                            </form>
                            {% endif %}
                            <ul class="list-group mb-3">
                                {% for comment in article.comments %}
                                <li class="list-group-item">
                                    {% if (role in ['ADMIN', 'ACADEMICS', 'ADMINISTRATIVE'] or (role == 'STUDENT' and comment.author.username == session['username'])) and not user.is_muted %}
                                    <form class="d-inline float-right ml-2" style="background: transparent; border: none; color: inherit;" method="post" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                                        <button type="submit" class="btn btn-danger btn-sm float-right ml-2" style="background: transparent; border: none; color: inherit;"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                    {% endif %}
                                    <p style="white-space: pre-line;">{{ comment.content }}</p>
                                    <!-- <small class="text-muted">Commented by {{ comment.author.username }} on {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small> -->
                                    <small class="text-muted">
                                        {% if comment.anonymous %}
                                        Commented by Anonymous on {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                        {% else %}
                                        Commented by {{ comment.author.username }} on {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                        {% endif %}
                                    </small>
                                    {% if (role in ['ADMIN', 'ACADEMICS', 'ADMINISTRATIVE'] or (role == 'STUDENT' and comment.author.username == session['username'])) and not user.is_muted %}
                                    <!-- <form class="d-inline" method="post" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                                        <button type="submit" class="btn btn-danger btn-sm float-right ml-2">Delete</button>
                                    </form>
                                     -->
                                    <button class="btn btn-warning btn-sm float-right" 
                                            style="background: transparent; border: none; color: inherit; padding: 0.25em 0.5em; width: auto;"
                                            onclick="showEditCommentForm('{{ comment.id }}')" 
                                            data-content="{{ comment.content|replace('"', '&quot;')|replace("'", "&#39;")|replace('\n', '\\n')|replace('\r', '') }}">
                                            <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal for Editing Articles -->
<div class="modal fade" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="editArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editArticleModalLabel">Edit Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editArticleModalBody">
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing Comments -->
<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="editCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCommentModalLabel">Edit Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editCommentModalBody">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.collapse').on('show.bs.collapse', function () {
            $(this).prev().find('.fa-chevron-down').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        }).on('hide.bs.collapse', function () {
            $(this).prev().find('.fa-chevron-up').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });
    });

    function showEditArticleForm(articleId) {
        var button = document.querySelector(`button[onclick="showEditArticleForm('${articleId}')"]`);

        console.log(button.getAttribute('data-content'));
        var title = button.getAttribute('data-title');
        var content = button.getAttribute('data-content');

        let formHtml = `
            <form method="post" action="{{ url_for('edit_article', article_id='') }}${articleId}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="${title}" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="5" required>${content}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update Article</button>
            </form>
        `;
        $('#editArticleModalBody').html(formHtml);
        $('#editArticleModal').modal('show');
    }


    function showEditCommentForm(commentId) {
    var button = document.querySelector(`button[onclick="showEditCommentForm('${commentId}')"]`);
    var content = button.getAttribute('data-content');

    let formHtml = `
        <form method="post" action="{{ url_for('edit_comment', comment_id='') }}${commentId}">
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" name="content" rows="2" required>${content}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Comment</button>
        </form>
    `;
    console.log(formHtml);
    $('#editCommentModalBody').html(formHtml);
    $('#editCommentModal').modal('show');
}

</script>
{% endblock %}
