<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML :)</title> 
    <script src="/static/js/crypto-js.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/js.cookie.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                {% if 'username' in session %}
                    <!-- If logged in, clicking the brand/logo logs out the user -->
                    <a class="navbar-brand" href="{{ url_for('logout') }}">Friends's Portal</a>
                {% else %}
                    <!-- If not logged in, clicking the brand/logo takes to the homepage -->
                    <a class="navbar-brand" href="{{ url_for('index') }}">Friends's Portal</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto"> <!-- Added ml-auto here -->
                        <li class="nav-item {{ 'active' if request.endpoint == 'articles' else '' }}">
                            <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
                        </li>
                        <li class="nav-item {{ 'active' if request.endpoint == 'messaging' else '' }}">
                            <a class="nav-link" href="{{ url_for('home') }}">Messaging</a>
                        </li>
                        {% if 'username' not in session %}
                            <li class="nav-item {{ 'active' if request.endpoint == 'login' else '' }}">
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            </li>
                            <li class="nav-item {{ 'active' if request.endpoint == 'signup' else '' }}">
                                <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                            </li>
                        {% else %}
                            <li class="nav-item {{ 'active' if request.endpoint == 'logout' else '' }}">
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Unique page content goes here -->
        {% endblock %}
    </main>

    <script src="/static/js/main.js"></script>
</body>
</html>
